<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add New Account</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" th:href="@{/fonts/icomoon/style.css}">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}">


    <link rel="stylesheet" th:href="@{/css/aos.css}">

    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
<div class="site-wrap text-black">
    <!-- Header Admin-->
    <header class="site-navbar" role="banner">
        <div class="site-navbar-top">
            <div class="container">
                <div class="row align-items-center">

                    <div class="col-12 mb-3 mb-md-0 col-md-3 order-1 order-md-1 text-md-left text-center">
                        <div class="site-logo">
                            <a href="index.html" class="js-logo-clone">Shoppers</a>
                        </div>
                    </div>

                    <div class="col-6 col-md-6 order-2 order-md-2 site-search-icon text-center border-0">
                        <h3 class="h2 text-black">User Management</h3>
                    </div>


                    <div class="col-6 col-md-3 order-3 order-md-3 text-right">
                        <div class="site-top-icons">
                            <ul>
                                <!-- jika belum login-->
                                <li><a href="#"><strong>LOGIN</strong></a></li>
                                <!-- jika sudah login-->
                                <li><a href="#"><span class="icon icon-person"></span></a></li>
                                <li><a href="#"><span class="icon icon-sign-out"></span></span></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <nav class="site-navigation text-right text-md-center" role="navigation">
            <div class="container">
                <ul class="site-menu js-clone-nav d-none d-md-block">
                    <li class=""><a href="coba_admin_dashboard.html">Dashboard</a></li>
                    <li class=""><a href="admin_list_product_category.html">Product</a></li>
                    <li class="active"><a href="admin_list_user.html">User</a></li>
                    <li class=""><a href="#">Transaction</a></li>
                    <li class=""><a href="#">Report</a></li>

                </ul>
            </div>
        </nav>
    </header>

    <!--Content-->
    <div class="container mb-5 mb-md-5">
        <h2 class="mb-4  text-black">User Detail</h2>
        <div class="card">
            <div class="card-header">
                <h4 class="mb-0 mx-auto  text-black">Username:
                    <span id="username"
                          th:text="${userDetail.getUsername()}"></span></h4>
                <span id="statusActive" class="badge badge-success"
                      th:if="${userDetail.getIsActive().equals(true)}">Active</span>
                <span id="statusInactive" class="badge badge-secondary"
                      th:if="${userDetail.getIsActive().equals(false)}">Inactive</span>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6 col-md-6">
                        <strong>Email : </strong> <span id="email" th:text="${userDetail.email}"></span><br>
                        <strong>Role : </strong> <span id="role" th:text="${userDetail.role}"></span><br>
                        <strong>Password : </strong> <span id="password">******** </span> <a href="#"><b> Change</b></a><br>
                        <strong>Phone number : </strong> <span id="phoneNumber"
                                                              th:text="${userDetail.phoneNumber}"></span><br>
                        <strong>Permissions :</strong>
                        <ul id="permissions">
                            <li th:each="perm : ${userDetail.permissions}" th:id="${perm.ID}"
                                th:text="${perm.description}"></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-6">
                        <strong>First name : </strong> <span id="firstname"
                                                             th:text="${userDetail.profile.firstName}"></span><br>
                        <strong>Last name : </strong> <span id="lastname"
                                                            th:text="${userDetail.profile.lastName}">Admin</span><br>
                        <strong>Date of birth : </strong> <span id="dateOfBirth"
                                                                th:text="${userDetail.profile.dateOfBirth}"></span><br>
                    </div>
                </div>

                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h5 class="mb-0">Addresses :</h5>
                    <button class="btn btn-outline-primary">New Address
                    </button>
                </div>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Country</th>
                        <th>Postal Code</th>
                        <th>Status</th>
                        <th style="width: 150px;">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="alamat : ${userDetail.addresses}">
                        <td th:text="${alamat.name}"></td>
                        <td th:text="${alamat.address}"></td>
                        <td th:text="${alamat.country}"></td>
                        <td th:text="${alamat.postalCode}"></td>
                        <td th:text="${alamat.isActive}"></td>
                        <td>
                            <button class="btn btn-warning d-inline-flex align-items-center justify-content-center"
                                    th:onclick="${alamat.getID()}">
                                <i class="icon icon-pencil"></i>
                            </button>
                            <button class="btn btn-danger d-inline-flex align-items-center justify-content-center">
                                <i class="icon icon-trash"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr th:if="${userDetail.addresses.isEmpty()}">
                        <td colspan="6" class="text-center text-md-center">belum ada address</td>
                    </tr>
                    </tfoot>
                </table>

            </div>
            <div class="card-footer text-right">
                <a class="btn btn-primary" th:href="@{/admin/user-edit/{id}(id=${userDetail.getId()})}">Edit</a>
                <!--<a class="btn btn-danger" href="#">Delete</a>-->
            </div>
        </div>
    </div>

    <!--Footer-->
    <footer class="site-footer border-top">
        <div class="container">

            <div class="row pt-5 mt-5 text-center">
                <div class="col-md-12">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script data-cfasync="false"
                                                src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                        <script>document.write(new Date().getFullYear());</script>
                        All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i>
                        by <a href="https://colorlib.com" target="_blank" class="text-primary">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>

            </div>
        </div>
    </footer>
</div>

<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/jquery-ui.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/js/aos.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>