<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add New Account</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" th:href="@{/fonts/icomoon/style.css}">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}">


    <link rel="stylesheet" th:href="@{/css/aos.css}">

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="site-wrap">
    <!-- Header Admin-->
    <header class="site-navbar" role="banner">
        <div class="site-navbar-top">
            <div class="container">
                <div class="row align-items-center">

                    <div class="col-12 mb-3 mb-md-0 col-md-3 order-1 order-md-1 text-md-left text-center">
                        <div class="site-logo">
                            <a href="index.html" class="js-logo-clone">Shoppers</a>
                        </div>
                    </div>

                    <div class="col-6 col-md-6 order-2 order-md-2 site-search-icon text-center border-0">
                        <h3 class="h2 text-black">User Management</h3>
                    </div>


                    <div class="col-6 col-md-3 order-3 order-md-3 text-right">
                        <div class="site-top-icons">
                            <ul>
                                <!-- jika belum login-->
                                <li><a href="#"><strong>LOGIN</strong></a></li>
                                <!-- jika sudah login-->
                                <li><a href="#"><span class="icon icon-person"></span></a></li>
                                <li><a href="#"><span class="icon icon-sign-out"></span></span></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <nav class="site-navigation text-right text-md-center" role="navigation">
            <div class="container">
                <ul class="site-menu js-clone-nav d-none d-md-block">
                    <li class=""><a href="coba_admin_dashboard.html">Dashboard</a></li>
                    <li class=""><a href="admin_list_product_category.html">Product</a></li>
                    <li class="active"><a href="admin_list_user.html">User</a></li>
                    <li class=""><a href="#">Transaction</a></li>
                    <li class=""><a href="#">Report</a></li>

                </ul>
            </div>
        </nav>
    </header>

    <!--Content-->
    <div class="container mb-5 mb-md-5">
        <h3 class="mb-4 text-black">Add New User</h3>
        <form id="accountForm" th:action="@{/admin/user-new}" method="post" th:object="${newUser}">
            <div class="form-group">
                <label for="username">Username <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter username"
                       th:field="*{username}"
                       required>
            </div>
            <div class="form-group">
                <label for="email">Email <span class="text-danger">*</span></label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter email"
                       th:field="*{email}" required>
            </div>
            <div class="form-group">
                <label for="password">Password <span class="text-danger">*</span></label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter password"
                       th:field="*{password}"
                       required>
            </div>
            <div class="form-group">
                <label for="confirm_password">Confirm Password <span class="text-danger">*</span></label>
                <input type="password" class="form-control" id="confirm_password" name="confirm_password"
                       th:field="*{confirmPassword}"
                       placeholder="Enter confirm password" required>
            </div>
            <div class="form-group">
                <label for="role">Role <span class="text-danger">*</span></label>
                <select id="role" class="form-control form-select" name="role" aria-label="select role"
                        onchange="autoCheckCategories()">
                    <option hidden disabled selected value>Select role</option>
                    <option th:each="rl : ${listRole}" th:value="${rl.getName()}" th:text="${rl.getName()}"></option>
                </select>
            </div>

            <div class="form-group">
                <label>Permission <span class="text-danger">*</span></label>
                <div class="form-check" th:each="hak:${permissions}">
                    <input class="form-check-input" type="checkbox" th:id="'permission-'+${hak.getID()}"
                           th:value="${hak.getID()}" th:field="*{permissionId}"
                    />
                    <label class="form-check-label" th:for="'permission-'+${hak.getID()}"
                           th:text="${hak.getDescription()}"></label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Create Account</button>
        </form>
    </div>

    <!--Footer-->
    <footer class="site-footer border-top">
        <div class="container">

            <div class="row pt-5 mt-5 text-center">
                <div class="col-md-12">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script data-cfasync="false"
                                                src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                        <script>document.write(new Date().getFullYear());</script>
                        All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i>
                        by <a href="https://colorlib.com" target="_blank" class="text-primary">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>

            </div>
        </div>
    </footer>
</div>


<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/jquery-ui.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/js/aos.js}"></script>
<script th:src="@{/js/main.js}"></script>

<!-- JavaScript to auto-check categories v2 -->
<script th:inline="javascript">
    // Dynamically pass category-itemType mapping from Thymeleaf, data var rolePermissionMap diambil dari map rolePermissionMap di controller
    const rolePermissionMap = /*[[${rolePermissionMap}]]*/ {};

    function autoCheckCategories() {
        console.log(rolePermissionMap)
        const itemType = document.getElementById("role").value; // Get selected item type
        console.log(itemType)
        const permissionCheckboxes = document.querySelectorAll('input[type="checkbox"]');

        // Uncheck all categories first
        permissionCheckboxes.forEach(checkbox => {
            checkbox.checked = false;
        });

        // Check categories based on selected item type
        if (itemType && rolePermissionMap[itemType]) {
            const selectedPermissionIds = rolePermissionMap[itemType];
            selectedPermissionIds.forEach(permissionId => {
                const checkbox = document.getElementById(`permission-${permissionId}`);
                if (checkbox) {
                    checkbox.checked = true;
                }
            });
        }
    }
</script>
</body>
</html> 