<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<form>
    <div>
        <input type="hidden" id="fm_userId" name="userId" th:value="${userId}" required/>
    </div>
    <div>
        <input type="hidden" id="fm_UserName" name="UserName" required/>
    </div>
    <div class="form-group">
        <label for="fm_currentPassword">Current Password:</label>
        <input type="password" class="form-control" id="fm_currentPassword" name="currentPassword" required/>
    </div>
    <div class="form-group">
        <label for="fm_newPassword">New Password:</label>
        <input type="password" class="form-control" id="fm_newPassword" name="newPassword" required/>
    </div>
    <div class="form-group">
        <label for="fm_confirmPassword">Confirm New Password:</label>
        <input type="password" class="form-control" id="fm_confirmPassword" name="confirmPassword" required/>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary mt-3 mb-3 float-right float-md-right"
                th:data-url="${navPagination} + '/change-password'"
                onclick="changePass(this)">Save
        </button>
    </div>
</form>

<script>
    function changePass(button) {
        const url = button.getAttribute("data-url");
        console.log(url);

        const changePass = {
            userId: $("#fm_userId").val(),
            username: $("#fm_UserName").val(),
            currentPassword: $("#fm_currentPassword").val(),
            newPassword: $("#fm_newPassword").val(),
            confirmPassword: $("#fm_confirmPassword").val()
        }
        console.log(changePass);

        $.ajax({
            url: `${window.location.origin}/${url}`,
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(changePass),
            success: function (response) {
                alert(response);
                $("#userModal").modal("hide"); // Tutup modal
                location.reload(); // Refresh halaman untuk update data
            },
            error: function (xhr, status, error) {
                const errorMessage = "Terjadi kesalahan: " + xhr.responseText;
                alert(errorMessage);
            }
        });
    }
</script>
</html>