<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<form id="editUserForm" th:object="${userDetail}">
    <div class="form-group">
        <label>Username <span class="text-danger">*</span></label>
        <input type="text" class="form-control" name="viewOnly" th:value="${userDetail.username}" disabled>
        <!--        <input type="hidden" class="form-control" name="username" th:field="*{username}" >-->
    </div>
    <div class="form-group">
        <label for="fm_email">Email <span class="text-danger">*</span></label>
        <input type="email" class="form-control" id="fm_email" name="email" th:field="*{email}"
               required>
    </div>
    <div class="form-group">
        <label for="fn_name">Fullname <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="fn_name" name="name" placeholder="Enter full name" th:field="*{name}"
               required>
    </div>
    <div class="form-group">
        <label for="fm_phoneNumber">Phone number <span class="text-danger">*</span></label>
        <input type="number" min="0" class="form-control" id="fm_phoneNumber" name="phoneNumber"
               placeholder="Enter phone number" th:field="*{phoneNumber}" th:value="${userDetail.phoneNumber}"
               required>
    </div>
    <div class="form-group">
        <label for="fm_dateOfBirth">Date of birth <span class="text-danger">*</span></label>
        <input type="date" class="form-control" id="fm_dateOfBirth" name="dateOfBirth" th:value="${userDetail.dateOfBirth}"
               placeholder="Enter date of birth" required>
    </div>
    <div class="form-group">
        <label for="fm_gender">Gender <span class="text-danger">*</span></label>
        <select id="fm_gender" class="form-control form-select" name="gender" aria-label="select gender" required>
            <option hidden disabled selected value>Select gender</option>
            <option value="Laki - laki" th:selected="${userDetail.gender == 'Laki - laki'}">Laki - laki</option>
            <option value="Perempuan" th:selected="${userDetail.gender == 'Perempuan'}">Perempuan</option>
        </select>
    </div>
    <div class="form-group">
        <label for="fm_status">Status <span class="text-danger">*</span></label>
        <select id="fm_status" class="form-control form-select" name="status" aria-label="select status" required>
            <option value="true" th:selected="*{isActive}">Active</option>
            <option value="false" th:selected="*{!isActive}">Inactive</option>
        </select>
    </div>
    <button type="button" class="btn btn-primary mt-3 mb-3" th:attr="onclick='updateUser(\'/user-management/edit/' + ${userDetail.id} + '\')'">Save</button>
</form>

<script>
    function updateUser(url) {

        const updateUser = {
            phoneNumber: $("#fm_phoneNumber").val(),
            email: $("#fm_email").val(),
            name: $("#fn_name").val(),
            dateOfBirth: $("#fm_dateOfBirth").val(),
            gender: $("#fm_gender").val(),
            isActive: $("#fm_status").val()
        }

        $.ajax({
            url: url,
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(updateUser),
            success: function (response) {
                alert(response);
                $("#userModal").modal("hide"); // Tutup modal
                location.reload(); // Refresh halaman untuk update data
            },
            error: function (xhr, status, error) {
                const errorMessage = "Terjadi kesalahan: " + xhr.responseText;
                alert(errorMessage);
            }
        });
    }
</script>


</html>