<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" th:href="@{/fonts/icomoon/style.css}">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}">

    <link rel="stylesheet" th:href="@{/css/aos.css}">

    <link rel="stylesheet" th:href="@{/css/style.css}">

    <script th:src="@{/sweetalert/sweetalert.min.js}"></script>

    <style>
        .modal {
            z-index: 2000 !important;
        }

        .modal-backdrop {
            z-index: 1999 !important;
        }
    </style>

</head>
<body>
<div class="site-wrap">
    <!-- Header -->
    <header th:replace="~{fragment/header::header}"></header>

    <div class="bg-light py-3 mb-3 mb-md-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong
                        class="text-black" th:text="${isManagement}"></strong></div>
            </div>
        </div>
    </div>

    <!--Isi content-->
    <div class="site-section-sm mb-5" >
        <div class="container">
            <!-- filter -->
            <div class="row mb-4 align-items-center">
                <div class="col-auto col-md-auto order-1 order-md-1 my-1">
                    <!--Tombol add-->
                    <button onclick="loadAddUserForm2('#userCreateModal','user-management/add','Add User')"
                            class="btn btn-primary">Add User
                    </button>
                    <!--Tombol filter-->
                    <button class="btn btn-outline-primary text-center position-relative" data-toggle="modal"
                            data-target="#filterModal">
                        <span class="d-none d-md-inline">Filter</span>
                        <span class="icon icon-filter"></span>
                        <span class="badge badge-danger position-absolute"
                              style="top: -5px; right: -5px; width: 10px; height: 10px; border-radius: 50%; padding: 0; display: none;"
                              id="filterIndicator"></span>
                    </button>
                </div>
                <div class="col col-md order-3 my-1">
                    <div class="row float-right align-items-center">
                        <strong class="float-right">Show :</strong>
                        <form class="col-auto">
                            <select class="form-control custom-select" name="size"
                                    onchange="updateSize(this.options[this.selectedIndex].value)">
                                <option value="5" th:selected="${size == 5}">5</option>
                                <option value="10" th:selected="${size == 10}">10</option>
                                <option value="15" th:selected="${size == 15}">15</option>
                                <option value="20" th:selected="${size == 20}">20</option>
                                <option value="50" th:selected="${size == 50}">50</option>
                            </select>
                        </form>
                    </div>
                </div>
            </div>

            <table class="table table-hover mt-4 mt-md-4" data-aos="fade-up">
                <thead>
                <tr class="text-primary">
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Status</th>
                    <th scope="col" th:if="${permissions.contains('MANAGE_USER')}">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr class="text-black align-content-center a" th:each="user, seq : ${listUser}">
                    <th scope="row" th:with="hasil=${((currentPage - 1) * size + 1)+seq.index}" th:text="${hasil}"></th>
                    <td><a th:href="@{/user-management/detail/{userId}(userId=${user['id']})}"
                           th:text="${user['username']}"></a></td>
                    <td th:text="${user['name']}"></td>
                    <td th:text="${user['email']}"></td>
                    <td th:text="${user['role']}"></td>
                    <td>
                        <span class="badge badge-secondary  p-2" th:if="${user['isActive'] == false}">Inactive</span>
                        <span class="badge badge-success  p-2" th:if="${user['isActive'] == true}">Active</span>
                    </td>
                    <td th:if="${permissions.contains('MANAGE_USER')}">
                        <a class="btn btn-danger d-inline-flex align-items-center justify-content-center"
                           th:href="@{/user-management/delete/{userId}(userId = ${user['id']})   }">
                            <i class="icon icon-trash"></i>
                        </a>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>

        <!-- pagination -->
        <div th:replace="~{fragment/pagination2::paginationFragment3}"></div>
    </div>

    <!--Footer-->
    <footer th:replace="~{fragment/footer2::footer2}"></footer>
</div>

<!-- Modal -->
<div th:replace="~{fragment/modalA::modalA('userCreateModal')}"></div>

<!-- Filter Modal -->
<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content border-0" >
            <div class="modal-header rounded-top " style="background-color: #7971ea">
                <h5 class="modal-title text-white" id="filterModalLabel">Filter Users</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="icon icon-close2"></span>
                </button>
            </div>
            <div class="modal-body">
                <form method="get" th:action="@{/{navPagination}(navPagination=${navPagination})}"
                      id="filter-user-form">
                    <div class="form-group">
                        <label for="username" class="font-weight-bold">Username</label>
                        <input type="text" class="form-control" id="username" name="username"
                               th:value="${username}">
                    </div>
                    <div class="form-group">
                        <label for="name" class="font-weight-bold">Name</label>
                        <input type="text" class="form-control" id="name" name="name"
                               th:value="${name}">
                    </div>
                    <div class="form-group">
                        <label for="userEmail" class="font-weight-bold">Email</label>
                        <input type="text" class="form-control" id="userEmail" name="email"
                               th:value="${email}">
                    </div>
                    <div class="form-group">
                        <label for="userRole" class="font-weight-bold">Role</label>
                        <select class="form-control" id="userRole" name="userRole">
                            <option value="">All Roles</option>
                            <option value="admin" th:selected="${userRole == 'admin'}">Admin</option>
                            <option value="customer" th:selected="${userRole == 'customer'}">Customer
                            </option>
                            <option value="staff" th:selected="${userRole == 'staff'}">Staff</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="userStatus" class="font-weight-bold">Status</label>
                        <select class="form-control" id="userStatus" name="status">
                            <option value="">All Status</option>
                            <option value="true" th:selected="${status == true}">Active</option>
                            <option value="false" th:selected="${status == false}">Inactive</option>
                        </select>
                    </div>
                    <div class="form-group d-flex justify-content-between border-top pt-3">
                        <button type="button" class="btn btn-outline-primary"
                                onclick="window.location.href='/user-management'">reset
                        </button>
                        <button type="submit" class="btn btn-primary" id="applyFilter">Apply</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    // function loadAddUserForm(url, title) {
    //     $.get(url, function (data) {
    //         $("#modalTitle").text(title);
    //         $("#modal-content").html(data);
    //         $("#userCreateModal").modal("show");
    //     });
    // }

    function loadAddUserForm2(modalId, url, title) {
        $.get(url, function (data) {
            $("#modalTitle").text(title);
            $("#modal-content").html(data);
            $(modalId).modal("show");
        });
    }
</script>

<!--untuk pop up alert error-->
<script th:inline="javascript">

    let successMessage = /*[[${successMessage}]]*/ '';
    if (successMessage) {
        swal("Success!", successMessage, "success");
    }

    let errors = /*[[${errors}]]*/ [];
    if (errors.length) {
        swal("Error!", errors.join("\n"), "error");
    }



</script>

<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/jquery-ui.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/js/aos.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/custom/pagination-and-size.js}"></script>
</body>
</html>