<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" th:href="@{/fonts/icomoon/style.css}">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}">

    <link rel="stylesheet" th:href="@{/css/aos.css}">

    <link rel="stylesheet" th:href="@{/css/style.css}">

    <script th:src="@{/sweetalert/sweetalert.min.js}"></script>

    <style>
        .modal {
            z-index: 2000 !important;
        }

        .modal-backdrop {
            z-index: 1999 !important;
        }
    </style>

</head>
<body>
<div class="site-wrap">
    <!-- Header -->
    <header th:replace="~{fragment/header::header}"></header>

    <div class="bg-light py-3 mb-3 mb-md-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong
                        class="text-black" th:text="${isManagement}"></strong></div>
            </div>
        </div>
    </div>

    <!--Isi content-->
    <div class="site-section-sm mb-5" >
        <div class="container">
            <!-- Filter -->
            <div class="row align-items-center mb-3">
                <!--Tombol add-->
                <div class="col-6 col-md-3 order-1 order-md-1 mb-3 mb-md-0 text-left " th:if="${permissions.contains('MANAGE_USER')}">
                    <div class="site-logo">
                        <btn onclick="loadAddUserForm2('#userCreateModal','user-management/add','Add User')"
                             class="btn btn-primary">Add
                            User
                        </btn>
                    </div>
                </div>

                <!-- Pencarian -->
                <div class="col-12 col-md-7 order-3 order-md-2 site-search-icon border-1 ">
                    <form class="form-inline site-search-icon center" action="/user-management">
                        <!--<span class="icon icon-search2"></span>-->
                        <input type="Search" name="search" class="form-control border col-6 col-md-7 rounded-0"
                               placeholder="Search" th:value="${search}" required>
                        <select id="filter" name="filterBy"
                                class="form-control col-4 col-md-3 border border-left-0 rounded-0">
                            <option th:selected="${filterBy == 'username'}" value="username">Username</option>
                            <option th:selected="${filterBy == 'email'}" value="email">Email</option>
                            <option th:selected="${filterBy == 'rolename'}" value="rolename">Role</option>
                        </select>
                        <input type="hidden" name="size" class=" "
                               th:value="${size}">
                        <!--                        <input type="text" name="size" th:value="${size}" disabled>-->
                        <button type="submit" class="btn btn-outline-info ml-auto ">Apply</button>
                    </form>
                </div>
                <div class="col-6 col-md-2 order-2 order-md-3 mt-3 text-right">
                    <!-- Dropdown untuk jumlah data per halaman -->
                    <form method="get" action="/user-management" class="float-right float-md-right form-inline mb-3">
                        <label>Show :</label>
                        <select class="form-control" name="size" onchange="this.form.submit()">
                            <option value="5" th:selected="${size == 5}">5</option>
                            <option value="10" th:selected="${size == 10}">10</option>
                            <option value="20" th:selected="${size == 20}">20</option>
                            <option value="50" th:selected="${size == 50}">50</option>
                        </select>
                    </form>
                </div>
            </div>


            <table class="table table-hover mt-4 mt-md-4" data-aos="fade-up">
                <thead>
                <tr class="text-primary">
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Status</th>
                    <th scope="col" th:if="${permissions.contains('MANAGE_USER')}">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr class="text-black align-content-center a" th:each="user, seq : ${listUser}">
                    <th scope="row" th:with="hasil=${((currentPage - 1) * size + 1)+seq.index}" th:text="${hasil}"></th>
                    <td><a th:href="@{/user-management/detail/{userId}(userId=${user['id']})}"
                           th:text="${user['username']}"></a></td>
                    <td th:text="${user['name']}"></td>
                    <td th:text="${user['email']}"></td>
                    <td th:text="${user['role']}"></td>
                    <td>
                        <span class="badge badge-secondary  p-2" th:if="${user['isActive'] == false}">Inactive</span>
                        <span class="badge badge-success  p-2" th:if="${user['isActive'] == true}">Active</span>
                    </td>
                    <td th:if="${permissions.contains('MANAGE_USER')}">
                        <a class="btn btn-danger d-inline-flex align-items-center justify-content-center"
                           th:href="@{/user-management/delete/{userId}(userId = ${user['id']})   }">
                            <i class="icon icon-trash"></i>
                        </a>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>

        <!-- pagination -->
<!--        <div th:replace="~{fragment/pagination::paginationFragment}"></div>-->
        <div th:replace="~{fragment/pagination2::paginationFragment2}"></div>
    </div>

    <!--Footer-->
    <footer th:replace="~{fragment/footer2::footer2}"></footer>
</div>

<!-- Modal -->
<div th:replace="~{fragment/modalA::modalA('userCreateModal')}"></div>
<!--<div class="modal fade" id="userCreateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">-->
<!--    <div class="modal-dialog modal-dialog-centered block" role="document">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title text-black" id="modalTitle">Add Data</h5>-->
<!--                <button type="button" class="close" data-dismiss="modal">&times;</button>-->
<!--            </div>-->
<!--            <div class="modal-body" id="modal-content">-->
<!--                Loading...-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<script>
    // function loadAddUserForm(url, title) {
    //     $.get(url, function (data) {
    //         $("#modalTitle").text(title);
    //         $("#modal-content").html(data);
    //         $("#userCreateModal").modal("show");
    //     });
    // }

    function loadAddUserForm2(modalId, url, title) {
        $.get(url, function (data) {
            $("#modalTitle").text(title);
            $("#modal-content").html(data);
            $(modalId).modal("show");
        });
    }
</script>

<!--untuk pop up alert error-->
<script th:inline="javascript">

    // let errors  = /*[[${errors}]]*/ {};
    // console.log(errors)
    // if (errors.length > 0) {
    //     let msg = "";
    //     for (let i = 0; i < errors.length; i++) {
    //         msg += errors[i] + "\n";
    //     }
    //     console.log(msg)
    //     swal("Error!", msg, "error");
    // }
    //
    //
    // let successMessage = /*[[${successMessage}]]*/ '';
    // console.log(successMessage);
    // if (successMessage !== '') {
    //     swal(
    //         "Success!",
    //         successMessage,
    //         "success"
    //     );
    // }

    let successMessage = /*[[${successMessage}]]*/ '';
    if (successMessage) {
        swal("Success!", successMessage, "success");
    }

    let errors = /*[[${errors}]]*/ [];
    if (errors.length) {
        swal("Error!", errors.join("\n"), "error");
    }



</script>

<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/jquery-ui.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/js/aos.js}"></script>
<script th:src="@{/js/main.js}"></script>

</body>
</html>