<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add New Account</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" th:href="@{/fonts/icomoon/style.css}">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}">

    <link rel="stylesheet" th:href="@{/css/aos.css}">

    <link rel="stylesheet" th:href="@{/css/style.css}">

    <style>
        .modal {
            z-index: 2000 !important;
        }

        .modal-backdrop {
            z-index: 1999 !important;
        }
    </style>
    <script th:src="@{/sweetalert/sweetalert.min.js}"></script>
</head>
<body>
<div class="site-wrap text-black">
    <!-- Header -->
    <header th:replace="~{fragment/header::header}"></header>

    <!--Content-->
    <div class="container mb-5 mb-md-5">
        <h2 class="mb-4  text-black">User Detail</h2>
        <div class="card">
            <div class="card-header">
                <h4 class="mb-0 mx-auto  text-black">Username:
                    <span id="username"
                          th:text="${userDetail.getUsername()}"></span></h4>
                <span id="statusActive" class="badge badge-success"
                      th:if="${userDetail.getIsActive().equals(true)}">Active</span>
                <span id="statusInactive" class="badge badge-secondary"
                      th:if="${userDetail.getIsActive().equals(false)}">Inactive</span>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6 col-md-6">
                        <strong>Email : </strong> <span id="email" th:text="${userDetail.email}"></span><br>
                        <strong>Role : </strong> <span id="role" th:text="${userDetail.role}"></span><br>
                        <strong>Password : </strong> <span id="password">******** </span>
                        <a href="#" th:if="${userDetail.id == userId}"
                           data-toggle="modal"
                           data-target="#changePassword"
                           th:data-url="${navPagination} + '/' + ${ userDetail.id } +'/change-password'"
                           data-title="Change Password"
                           data-target-title="#modalTitleEdit"
                           data-target-content="#modal-contentEdit"
                           onclick="openRoleModalsFromButton(this)"><b> Change</b></a>
                        <br>
                        <strong>Phone number : </strong> <span id="phoneNumber"
                                                               th:text="${userDetail.phoneNumber}"></span><br>
                    </div>
                    <div class="col-6 col-md-6">
                        <strong>Name : </strong> <span id="Name"
                                                       th:text="${userDetail.name}"></span><br>
                        <strong>Date of birth : </strong> <span id="dateOfBirth"
                                                                th:text="${userDetail.dateOfBirth}"></span><br>
                        <strong>Gender : </strong> <span id="Gender"
                                                         th:text="${userDetail.gender}"></span><br>
                    </div>
                </div>

                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h5 class="mb-0 mt-3 mt-md-3 ">Addresses :</h5>
                    <button class="btn btn-outline-primary"
                            th:if="${userDetail.id == userId}"
                            data-toggle="modal"
                            data-target="#userEditModal"
                            th:data-url="${navPagination} + '/address' "
                            data-title="Add Address"
                            data-target-title="#modalTitle"
                            data-target-content="#modal-content"
                            onclick="openRoleModalsFromButton(this)"
                    >New Address
                    </button>
                </div>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Province</th>
                        <th>Regency</th>
                        <th>Postal Code</th>
                        <th>Status</th>
                        <th style="width: 150px;" th:if="${userDetail.id == userId}">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="alamat : ${userDetail.addresses}" th:if="${alamat.isActive == true}">
                        <td th:text="${alamat.name}"></td>
                        <td th:text="${alamat.address}"></td>
                        <td th:text="${alamat.province}"></td>
                        <td th:text="${alamat.regency}"></td>
                        <td th:text="${alamat.postalCode}"></td>
                        <td th:text="${alamat.isActive}"></td>
                        <td th:if="${userDetail.id == userId}">
                            <a class="btn btn-warning d-inline-flex align-items-center justify-content-center"
                               data-toggle="modal"
                               data-target="#userEditModal"
                               th:data-url="${navPagination} + '/address/' + ${alamat.getId()}"
                               data-title="Edit Address"
                               data-target-title="#modalTitle"
                               data-target-content="#modal-content"
                               onclick="openRoleModalsFromButton(this)"
                            ><i class="icon icon-pencil"></i>
                            </a>
                            <!--                            <button class="btn btn-warning d-inline-flex align-items-center justify-content-center"-->
                            <!--                                    th:onclick="${alamat.getId()}">-->
                            <!--                                <i class="icon icon-pencil"></i>-->
                            <!--                            </button>-->
                            <a class="btn btn-danger d-inline-flex align-items-center justify-content-center"
                                th:href="${navPagination} + '/address/delete/' + ${alamat.id}"
                            >
                                <i class="icon icon-trash"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr th:if="${userDetail.addresses.isEmpty()}">
                        <td colspan="6" class="text-center text-md-center">belum ada address</td>
                    </tr>
                    </tfoot>
                </table>

            </div>
            <div class="card-footer text-right">
                <!--                th:onclick="'loadEditUserForm(\'#userEditModal\', \'user-management/edit/'+${userDetail.id}+'\', \'Edit Profile\' )'"-->

                <!--                <button class="btn btn-primary" th:if="${userDetail.id == userId} ? ${navPagination} + '/edit/profile' : ${navPagination} + '/edit/' + ${ userDetail.id }"-->
                <!--                        data-toggle="modal"-->
                <!--                        data-target="#userEditModal"-->
                <!--                        th:data-url="${navPagination} + '/edit/profile'"-->
                <!--                        data-title="Edit Profile"-->
                <!--                        data-target-title="#modalTitle"-->
                <!--                        data-target-content="#modal-content"-->
                <!--                        onclick="openRoleModalsFromButton(this)"-->
                <!--                >Edit Profile-->
                <!--                </button>-->


                <!--                th:data-url="${navPagination} + '/edit/' + ${ userDetail.id }"-->
                <button class="btn btn-primary"
                        data-toggle="modal"
                        data-target="#userEditModal"
                        th:data-url="${userDetail.id == userId} ? ${navPagination} + '/edit/profile' : ${navPagination} + '/edit/' + ${ userDetail.id }"
                        data-title="Edit Profile"
                        data-target-title="#modalTitle"
                        data-target-content="#modal-content"
                        onclick="openRoleModalsFromButton(this)"
                >Edit Profile
                </button>
                <a class="btn btn-danger" th:if="${permissions.contains('MANAGE_USER')}"
                   th:href="@{/user-management/delete/{userId}(userId = ${userDetail.id})   }">Delete</a>
            </div>
        </div>
    </div>


    <!--Footer-->
    <footer th:replace="~{fragment/footer2::footer2}"></footer>
</div>


<!-- Modal edit user-->
<div th:replace="~{fragment/modalA::modalA('userEditModal')}"></div>
<!--<div th:replace="~{fragment/modalA::modalA('userCreateModal')}"></div>-->
<!-- Change password-->
<div th:replace="~{fragment/modalAEdit::modalAEdit('changePassword')}"></div>

<script>
    function openRoleModalsFromButton(button) {
        let modulePath = button.getAttribute("data-url");
        // let fullUrl = modulePath + "/add";
        let dataTarget = button.getAttribute("data-target");
        let dataTitle = button.getAttribute("data-title");
        let dataTargetTitle = button.getAttribute("data-target-title");
        let dataTargetContent = button.getAttribute("data-target-content");

        // console.log(modulePath, dataTarget, dataTitle);
        openRoleModalsUserDetail(dataTarget, dataTargetTitle, dataTargetContent, modulePath, dataTitle);
    }

    function openRoleModalsUserDetail(modalId, dataTargetTitle, dataTargetContent, url, title) {
        $.get(`${window.location.origin}/${url}`, function (data) {
            // $("#modalTitle").text(title);
            $(dataTargetTitle).text(title);
            // $("#modal-content").html(data);
            $(dataTargetContent).html(data);
            $(modalId).modal("show");
        });
    }

    // // Open modals
    // function loadEditUserForm(modalId, url, title) {
    //     console.log(modalId, url, title)
    //     // `${window.location.origin}/${url}`
    //     $.get(`/${url}`, function (data) {
    //         $("#modalTitle").text(title);
    //         $("#modal-content").html(data);
    //         $(modalId).modal("show");
    //     });
    // }
</script>

<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/jquery-ui.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/js/aos.js}"></script>
<script th:src="@{/js/main.js}"></script>

</body>
</html>