<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--id="userCreateModal"-->
<div th:fragment="modalA(id)" class="modal fade" th:id="${id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered block" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-black" id="modalTitle">Add Data</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" id="modal-content">
                Loading...
            </div>
        </div>
    </div>
</div>

</html>