.circle-button-37{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FFFFFF;
    color: #7971EA;
}

.site-block-27 ul li.active button.circle-button-37{
    background-color: #7971EA;
    color: #FFFFFF;
}